doctype html
html
    head
        title Login RedBicisChaco
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        // ===============================================================================================
        link(rel='icon' type='image/png' href='images/icons/favicon.ico')
        // ===============================================================================================
        link(rel='stylesheet' type='text/css' href='vendor/bootstrap/css/bootstrap.min.css')
        // ===============================================================================================
        link(rel='stylesheet' type='text/css' href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
        // ===============================================================================================
        link(rel='stylesheet' type='text/css' href='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
        // ===============================================================================================
        link(rel='stylesheet' type='text/css' href='vendor/animate/animate.css')
        // ===============================================================================================
        link(rel='stylesheet' type='text/css' href='vendor/css-hamburgers/hamburgers.min.css')
        // ===============================================================================================
        link(rel='stylesheet' type='text/css' href='vendor/animsition/css/animsition.min.css')
        // ===============================================================================================
        link(rel='stylesheet' type='text/css' href='vendor/select2/select2.min.css')
        // ===============================================================================================
        link(rel='stylesheet' type='text/css' href='vendor/daterangepicker/daterangepicker.css')
        // ===============================================================================================
        link(rel='stylesheet' type='text/css' href='stylesheets/util.css')
        link(rel='stylesheet' type='text/css' href='stylesheets/main.css')
        // ===============================================================================================
    body
        block content
