extends layout
block content
        .limiter
        .container-login100
            .wrap-login100.p-t-50.p-b-90
            form.login100-form.validate-form.flex-sb.flex-w
                span.login100-form-title.p-b-51
                | Login
                .wrap-input100.validate-input.m-b-16(data-validate='Debe ingresar el E-Mail')
                input.input100(type='text' name='email' placeholder='E-mail')
                span.focus-input100
                .wrap-input100.validate-input.m-b-16(data-validate='Debe ingresar el Password')
                input.input100(type='password' name='pass' placeholder='Password')
                span.focus-input100
                .flex-sb-m.w-full.p-t-3.p-b-24
                .contact100-form-checkbox
                    input#ckb1.input-checkbox100(type='checkbox' name='remember-me')
                    label.label-checkbox100(for='ckb1')
                    | Recordarme
                div
                    a.txt1(href='#')
                    | Olvido su Password?
                .container-login100-form-btn.m-t-17
                button.login100-form-btn
                    | Loguearse
        #dropDownSelect1
        // ===============================================================================================
        script(src='vendor/jquery/jquery-3.2.1.min.js')
        // ===============================================================================================
        script(src='vendor/animsition/js/animsition.min.js')
        // ===============================================================================================
        script(src='vendor/bootstrap/js/popper.js')
        script(src='vendor/bootstrap/js/bootstrap.min.js')
        // ===============================================================================================
        script(src='vendor/select2/select2.min.js')
        // ===============================================================================================
        script(src='vendor/daterangepicker/moment.min.js')
        script(src='vendor/daterangepicker/daterangepicker.js')
        // ===============================================================================================
        script(src='vendor/countdowntime/countdowntime.js')
        // ===============================================================================================
        script(src='javascripts/main.js')