extends layout

block content
  nav#page-top
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') Inicio
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.my-2.my-lg-0
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Nosotros
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#services') Ubicaciones
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#portfolio') Nuestras Bicicletas
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contact') Contacto
  // Masthead
  header.masthead
    .container.h-100
      .row.h-100.align-items-center.justify-content-center.text-center
        .col-lg-10.align-self-end
          h1.text-uppercase.text-white.font-weight-bold Red Bicicletas Chaco
          hr.divider.my-4
        .col-lg-8.align-self-baseline
          p.text-white-75.font-weight-light.mb-5
            | La primera comunidad online de Bicicletas de Resistencia Chaco.
          a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Comenzar
  // About
  section#about.page-section.bg-primary
    .container
      .row.justify-content-center
        .col-lg-8.text-center
          h2.text-white.mt-0 Tenemos lo que estas buscando!
          hr.divider.light.my-4
          p.text-white-50.mb-4
            | Las mejores bicicletas de la region estan acá. Si necesitas comprar o alquilar una bici, podemos ayudarte. Tenemos accesorios para todos los modelos de bicicletas en todos los tamaños y para todos los presupuestos. En nuestro mapa interactivo se muestran las bicicletas disponibles.
          a.btn.btn-light.btn-xl.js-scroll-trigger(href='#services') Ver Ubicaciones!
  // Services
  section#services.page-section
    .container
      #mapid
  // Portfolio
  #portfolio
    .container-fluid.p-0
      .row.no-gutters
        .col-lg-4.col-sm-6
          a.portfolio-box(href='images/portfolio/fullsize/1.jpg')
            img.img-fluid(src='images/portfolio/thumbnails/1.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50 Race
              .project-name Bicicletas de Carreras
        .col-lg-4.col-sm-6
          a.portfolio-box(href='images/portfolio/fullsize/2.jpg')
            img.img-fluid(src='images/portfolio/thumbnails/2.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50 Classic
              .project-name Bicicletas Clasicas
        .col-lg-4.col-sm-6
          a.portfolio-box(href='images/portfolio/fullsize/3.jpg')
            img.img-fluid(src='images/portfolio/thumbnails/3.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50 Kids
              .project-name Bicicletas para Niños
        .col-lg-4.col-sm-6
          a.portfolio-box(href='images/portfolio/fullsize/4.jpg')
            img.img-fluid(src='images/portfolio/thumbnails/4.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50 Mountain
              .project-name Bicicletas de Montaña
        .col-lg-4.col-sm-6
          a.portfolio-box(href='images/portfolio/fullsize/5.jpg')
            img.img-fluid(src='images/portfolio/thumbnails/5.jpg' alt='')
            .portfolio-box-caption
              .project-category.text-white-50 Scooters
              .project-name Scooters Electricas
        .col-lg-4.col-sm-6
          a.portfolio-box(href='images/portfolio/fullsize/6.jpg')
            img.img-fluid(src='images/portfolio/thumbnails/6.jpg' alt='')
            .portfolio-box-caption.p-3
              .project-category.text-white-50 Stunt
              .project-name Bicicletas Extremas
  // Contact
  section#contact.page-section
    .container
      .row.justify-content-center
        .col-lg-8.text-center
          h2.mt-0 Contactanos!
          hr.divider.my-4
          p.text-muted.mb-5
            | Tiene alguna duda o inconveniete? No dude en llamar o escribir a nuestra direccion de contacto. Su consulta será respondida a la brevedad!
      .row
        .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
          i.fas.fa-phone.fa-3x.mb-3.text-muted
          div +54 (362) 666-6666
        .col-lg-4.mr-auto.text-center
          i.fas.fa-envelope.fa-3x.mb-3.text-muted
          // Make sure to change the email address in BOTH the anchor text and the link target below!
          a.d-block(href='mailto:contacto@redbicischaco.com.ar') contacto@redbicischaco.com.ar
  // Footer
  footer.bg-light.py-5
    .container
      .small.text-center.text-muted Copyright &copy; 2020 - Start Bootstrap
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
  // Core theme JS
  script(src='javascripts/scripts.js')
  //Mapa Leaflet
  script(src='javascripts/map.js')
